# virtualenv
.venv
.python-version

# Packaging
build
dist
*.egg-info

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Site media and builded statics
/var/
/sandbox/static
/sandbox/static-sources

# Settings
localsettings.py

# Node.js stuff
node_modules

# Unit test / coverage reports
htmlcov/
.coverage
.cache
.pytest_cache
nosetests.xml
coverage.xml
.tox

# VS Code
.vscode

# Mac Os
.DS_Store

# Temp files
*~
.~lock*

# Swap files
*.sw[po]

# Logging files
*.log
