{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_modify lotus %}

{% comment %}
NOTE:
    We override the whole object-tools block since we add stuff in and around
    "object-tools-items", also this enable us to share results from tag
    "translation_siblings" instead of executing it twice.
{% endcomment %}
{% block object-tools %}
    {% if change %}
        {% if not is_popup %}
            {% translation_siblings original preview=True as sibling_stats %}
            {% check_object_lang_availability original as object_lang_availability %}

            <ul class="object-tools">
                {% block object-tools-items %}
                    {% if sibling_stats.available_languages %}
                    <li>
                        <a class="lotus-translate-link" href="{% url "admin:lotus_category_translate_original" id=original.id %}">{% trans "Translate" %}</a>
                    </li>
                    {% endif %}
                    {% change_form_object_tools %}
                {% endblock %}
            </ul>

            {% if not object_lang_availability.is_available %}
            <p class="lotus-language-availability errornote">
                {% blocktranslate with object_lang=original.language available_langs=object_lang_availability.language_keys|join:", " %}<strong>Category language '{{ object_lang }}' is not in available project languages: {{ available_langs }}</strong>. In this state, this category won't reachable from your site.<br><br>You may be able to edit this category but it will change language to an available one and you may have to change some related fields.{% endblocktranslate %}
            </p>
            {% endif %}

            {% if sibling_stats.siblings %}
            <p class="lotus-siblings-resume"><em>
                {% blocktrans %}Existing language(s) for this category:{% endblocktrans %}
                {% for sibling in sibling_stats.siblings %}
                    {% get_language_info for sibling.language as lang %}
                    <a href="{% url opts|admin_urlname:'change' sibling.pk %}" data-lotus-langcode="{{ sibling.language }}">{{ lang.name_translated }}</a>
                    {% if not forloop.last %} |{% endif %}
                {% endfor %}
            </em></p>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
