{% extends "lotus/base.html" %}
{% load i18n lotus %}

{% block head_title %}{% if article_object.seo_title %}{{ article_object.seo_title }}{% else %}{{ article_object.title }}{% endif %}{% endblock head_title %}
{% block head_metas %}
{% if article_object.lead %}<meta name="description" content="{{ article_object.lead|striptags }}">{% endif %}
{% endblock head_metas %}

{% block lotus_content %}{% spaceless %}
<div class="article-detail {% article_states article_object %}">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="image bg-light rounded text-center mb-2 p-2">{% if article_object.image %}
                    <img src="{{ article_object.image.url }}" class="rounded" alt="">
                {% endif %}</div>

                <h1 class="title">{{ article_object.title }}</h1>

                <p class="publish">{{ article_object.publish_datetime }}</p>

                <div class="introduction">{{ article_object.introduction|safe }}</div>

                <div class="content">{{ article_object.content|safe }}</div>
            </div>

            <div class="col-12 col-lg-3">
                <div class="cover text-center mb-4">{% if article_object.cover %}
                    <img src="{{ article_object.cover.url }}" class="rounded" alt="">
                {% endif %}</div>

                <div class="siblings card mb-4">
                    <div class="card-header">
                        <strong>Siblings</strong>
                    </div>
                    {% translation_siblings article_object %}
                </div>

                <div class="categories card mb-4">
                    <div class="card-header">
                        <strong>Categories</strong>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for category in article_object.get_categories %}
                        <li class="list-group-item">
                            <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="authors card mb-4">
                    <div class="card-header">
                        <strong>Authors</strong>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for author in article_object.get_authors %}
                        <li class="list-group-item"><a href="{{ author.get_absolute_url }}">{{ author.get_full_name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="relateds card mb-4">
                    <div class="card-header">
                        <strong>Related articles</strong>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for related in article_object.get_related %}
                        <li class="list-group-item"><a href="{{ related.get_absolute_url }}">{{ related.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endspaceless %}{% endblock lotus_content %}
