{% extends "lotus/base.html" %}
{% load i18n %}

{% block header-title %}{% trans "Articles" %}{% endblock header-title %}

{% block lotus_content %}{% spaceless %}
<div class="article-list-container">
    <h1 class="title border-bottom border-5 py-1 mb-3">{% trans "Articles" %}</h1>

    <div class="list container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
            {% for article in article_list %}
                <div class="col">
                    {% include "lotus/article/partials/item.html" with article_object=article from="article-list" %}
                </div>
            {% endfor %}
        </div>
    </div>

    {% include "lotus/pagination.html" %}
</div>
{% endspaceless %}{% endblock lotus_content %}
