{% extends "lotus/base.html" %}
{% load i18n %}

{% block head_title %}{{ category_object.title }}{% endblock head_title %}
{% block head_metas %}
{% if category_object.lead %}<meta name="description" content="{{ category_object.lead|striptags }}">{% endif %}
{% endblock head_metas %}

{% block lotus_content %}{% spaceless %}
<div class="category-detail">
    <h1 class="title">{{ category_object.title }}</h1>

    <div class="cover bg-light rounded text-center mb-2 p-2">{% if category_object.cover %}
        <img src="{{ category_object.cover.url }}" class="rounded" alt="">
    {% endif %}</div>

    <div class="description">{{ category_object.description|safe }}</div>

    <p>Articles</p>
    <div class="articles container">
        <div class="row row-cols-2 g-4">
            {% for article in object_list %}
            <div class="col">
                {% include "lotus/article/item.html" with article_object=article %}
            </div>
            {% endfor %}
        </div>
        {% include "lotus/pagination.html" %}
    </div>
</div>
{% endspaceless %}{% endblock lotus_content %}
