{% extends "lotus/base.html" %}
{% load i18n %}

{% block head_title %}{% blocktrans %}Categories{% endblocktrans %}{% endblock head_title %}

{% block lotus_content %}{% spaceless %}
<div class="category-list-container">
    <h1 class="title border-bottom border-5 py-1 mb-3">{% blocktrans %}Categories{% endblocktrans %}</h1>

    <div class="list container">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for category in category_list %}
            <div class="col">
                {% include "lotus/category/item.html" with category_object=category %}
            </div>
            {% endfor %}
        </div>
    </div>

    {% include "lotus/pagination.html" %}
</div>
{% endspaceless %}{% endblock lotus_content %}
