{% extends "lotus/base.html" %}
{% load i18n %}

{% block header-title %}{% trans "Categories" %}{% endblock header-title %}

{% block lotus_content %}{% spaceless %}
<div class="category-list-container">
    <h1 class="title border-bottom border-5 py-1 mb-3">{% trans "Categories" %}</h1>

    <div class="list container">
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
            {% for category in category_list %}
            <div class="col">
                {% include "lotus/category/partials/item.html" with category_object=category from="category-list" %}
            </div>
            {% endfor %}
        </div>
    </div>

    {% include "lotus/pagination.html" %}
</div>
{% endspaceless %}{% endblock lotus_content %}
