{% load i18n lotus smart_image %}{% spaceless %}
<a href="{{ article_object.get_absolute_url }}" class="article card text-decoration-none text-reset h-100 mb-3 {% article_states article_object prefix="article--" %}">
    {% if article_object.cover %}
        {% media_thumb article_object.cover "300x200" crop="center" as cover_thumb %}
        <img src="{{ cover_thumb.url }}" class="cover card-img-top" alt="{{ article_object.cover_alt_text }}">
    {% endif %}

    <div class="card-body pb-0">
        <p class="card-text mb-0">
            <small class="publish text-muted">{{ article_object.publish_datetime|date }}</small>
        </p>
        <h2 class="title h5 text-black">{{ article_object.title }}</h2>
        <div class="introduction card-text">{{ article_object.introduction|safe }}</div>
    </div>

    {% with article_categories=article_object.get_categories %}
        {% if article_categories %}
            <div class="card-footer pt-0 border-0 bg-transparent text-dark">
                <small class="me-1 text-muted">In</small>
                {% for category in article_categories %}
                    <small class="category">{{ category.title }}</small>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% if user.is_authenticated and user.is_staff %}
        {% article_state_list article as article_states %}
        {% if "featured" in article_states or "pinned" in article_states or "draft" in article_states or "private" in article_states or "passed" in article_states or "not-yet" in article_states %}
            <p class="states">
                {% if "featured" in article_states %}
                    <i class="bi bi-star" title="{% trans "Featured" %}" role="img" aria-label="{% trans "Featured" %}"></i>
                {% endif %}
                {% if "pinned" in article_states %}
                    <i class="bi bi-pin-angle" title="{% trans "Pinned" %}" role="img" aria-label="{% trans "Pinned" %}"></i>
                {% endif %}
                {% if "draft" in article_states %}
                    <i class="bi bi-pen" title="{% trans "Draft" %}" role="img" aria-label="{% trans "Draft" %}"></i>
                {% endif %}
                {% if "private" in article_states %}
                    <i class="bi bi-key" title="{% trans "Private" %}" role="img" aria-label="{% trans "Private" %}"></i>
                {% endif %}
                {% if "not-yet" in article_states %}
                    <i class="bi bi-calendar-event" title="{% trans "Scheduled publication" %}" role="img" aria-label="{% trans "Scheduled publication" %}"></i>
                {% endif %}
                {% if "passed" in article_states %}
                    <i class="bi bi-calendar2-x" title="{% trans "Ended publication" %}" role="img" aria-label="{% trans "Ended publication" %}"></i>
                {% endif %}
            </p>
        {% endif %}
    {% endif %}
</a>
{% endspaceless %}
