{% load i18n view_breadcrumbs lotus static %}{% get_current_language as LANGUAGE_CODE %}<!DOCTYPE html>
<head>{% spaceless %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}{% trans "Lotus weblog" %}{% endblock head_title %}</title>
    {% block head_metas %}{% endblock head_metas %}
    {% block head_styles %}
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    {% endblock head_styles %}
{% endspaceless %}
</head>

<body>{% spaceless %}

<div class="d-grid gap-3 p-3">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/{{ LANGUAGE_CODE }}/">{% trans "Lotus weblog" %}</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar-toggler" aria-controls="main-navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="main-navbar-toggler">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link{% if lotus_stage == "articles" %} active{% endif %}" href="{% url "lotus:article-index" %}">{% trans "Articles" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if lotus_stage == "categories" %} active{% endif %}" href="{% url "lotus:category-index" %}">{% trans "Categories" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if lotus_stage == "authors" %} active{% endif %}" href="{% url "lotus:author-index" %}">{% trans "Authors" %}</a>
                    </li>
                </ul>

                {% preview_switch %}

                <div class="d-flex">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Languages">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as languages %}
                        {% for code, name in languages %}
                        <a class="btn btn-primary{% if code == LANGUAGE_CODE %} active{% endif %}" href="/{{ code }}/">{{ name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="main-content container-xxl">
        {% block breadcrumbs %}
            {% render_breadcrumbs "view_breadcrumbs/bootstrap5.html" %}
        {% endblock %}
        {% block content %}Sandbox skeleton{% endblock %}
    </div>
</div>

{% block javascript %}
    <script src="{% static "js/main.js" %}"></script>
{% endblock javascript %}
{% endspaceless %}</body>
</html>
