{% extends "lotus/base.html" %}
{% load i18n %}

{% block header-title %}{% trans "Authors" %}{% endblock header-title %}

{% block lotus_content %}{% spaceless %}
<div class="author-list-container">
    <h1 class="title border-bottom border-5 py-1 mb-3">{% trans "Authors" %}</h1>

    <div class="list container">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for author in author_list %}
            <div class="col">
                {% include "lotus/author/partials/item.html" with author_object=author from="author-list" %}
            </div>
            {% endfor %}
        </div>
    </div>

    {% include "lotus/pagination.html" %}
</div>
{% endspaceless %}{% endblock lotus_content %}
