{% extends "lotus/base.html" %}
{% load i18n %}


{% block app_content %}{% spaceless %}
<div class="blog-detail">
    <h2>{{ blog_object.title }}</h2>

    <ul class="article-list">
    {% for article in object_list %}
        <li>
            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
        </li>
    {% empty %}
        <li>{% trans "No articles yet." %}</li>
    {% endfor %}
    </ul>

    {% include "lotus/pagination.html" %}
</div>
{% endspaceless %}{% endblock app_content %}
