{% extends "lotus/base.html" %}
{% load i18n %}

{% block header-title %}{% trans "Tags" %}{% endblock header-title %}

{% block lotus_content %}{% spaceless %}
<div class="tag-list-container">
    <h1 class="title border-bottom border-5 py-1 mb-3">{% trans "Tags" %}</h1>

    <div class="list container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 py-md-3">
                {% for tag in tag_list %}
                    <a class="rounded-pill btn btn-primary text-decoration-none me-3 mb-3"
                       href="{% url "lotus:tag-detail" tag=tag.slug %}">
                        {{ tag.name }}
                        <span class="badge rounded-pill bg-light text-dark">{{ tag.article_count }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include "lotus/pagination.html" %}
</div>
{% endspaceless %}{% endblock lotus_content %}
